{% extends 'base.html.twig' %}

{% block title %}Přihlášení{% endblock %}

{% block body %}

    <h1>Přihlášení</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <section class="login-form">
        {{ form(form) }}
    </section>

{% endblock %}